:root {
    font-size: 62.5%;
}

::placeholder {
    color: var(--gray);
    opacity: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    font-weight: normal;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    font-size: 1.8rem;
    font-weight: normal;
}

button,
a {
    cursor: pointer;
}

button {
    border: none;
}

a {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--black);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.fa-heart {
    font-size: 22px;
}

.restaurant__card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    margin-bottom: 20px;
    position: relative;
}

.restaurant__card:hover {
    transform: scale(1.01);
}

.restaurant__card a {
    transition: all .4s ease;
    box-shadow: 0px 0px 10px #a1a1a1;
}

.restaurant__card a:hover {
    box-shadow: 1px 4px 9px 2px #a1a1a1;
}

.restaurant__card__img {
    height: 17.5rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0 0;
}

.restaurant__card__new {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 80px;
    background: #99E2D0;
    color: #008766;
    font-size: 1.4rem;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
}

.restaurant__card__body {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #fff;
    border-radius: 0 0 1.5rem 1.5rem;
}

.restaurant__card p {
    color: #7e7e7e;
}

.restaurant__card a {
    box-shadow: 3px 3px 10px 5px rgba(230, 227, 227, 0.81);
    border-radius: 1.5rem;
}

.heart-icon {
    position: relative;
    padding: 2rem;
}

.heart::before {
    content: "\f004";
    font-family: "Font Awesome 5 Free";
    font-weight: 300;
    position: relative;
    display: block;
    font-size: 22px;
    color: #666;
}

.heart::after {
    content: "\f004";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 22px;
    opacity: 0;
    transition: .3s ease-out;
    background-image: -moz-linear-gradient(to bottom, #FF79DA, #9356DC);
    background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heart:hover::after {
    opacity: 1;
}

.loader-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation: appearence;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.loader {
    position: relative;
    width: 10rem;
    height: 10rem;
}

.loader__spinner--1 {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 5px solid #9356DC;
    animation: rotate 1s linear reverse infinite both;
    animation-iteration-count: 2;
}

.loader__spinner--1 .spinner--1 {
    display: block;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 5px solid #FF79DA;
}

.loader__spinner--2 {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 8rem;
    height: 8rem;
    animation: rotate 1s linear infinite both;
    animation-iteration-count: 2;
}

.loader__spinner--2 .spinner--2 {
    display: block;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 5px solid #99E2D0;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes appearence {
    0% {
        opacity: 1;
    }
    95% {
        opacity: 1;
        background: transparent;
    }
    100% {
        opacity: 0;
        height: 0;
        width: 0;
    }
}

.btn {
    width: 220px;
    height: 50px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border-radius: 35px;
    box-shadow: 0px 0px 10px #a1a1a1;
    background-image: linear-gradient(174deg, #FF79DA, #9356DC);
    opacity: 1;
    transition: 0.4s;
}

.btn:hover {
    opacity: .8;
    box-shadow: 1px 4px 9px 2px #858383;
}

.container {
    width: 100%;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    background: #F6F6F6;
    min-height: 33.6rem;
}

.presentation p {
    font-size: 2rem;
    color: #353535;
}

.presentation__location {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 5rem;
    width: 100%;
    background: #eaeaea;
    font-weight: bold;
    box-shadow: inset 0 2px 3px #a1a1a1;
}

.presentation__location .icon-position {
    font-size: 1.6rem;
}

.presentation__location p {
    font-size: 1.6rem;
    padding-left: 2rem;
}

.presentation__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 28rem;
    justify-content: space-evenly;
    margin: 2rem 0;
    padding: 0 1.4rem;
}

.presentation__content h2 {
    width: 80%;
    font-weight: bold;
}

.steps {
    height: 44rem;
    padding: 4rem 2.5rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.steps h2 {
    font-weight: bold;
}

@media screen and (min-width: 426px) {
    .steps {
        padding: 2rem;
    }
    .steps h2 {
        text-align: center;
        margin-bottom: 3rem;
    }
}

@media screen and (min-width: 1025px) {
    .steps {
        height: 20rem;
        flex-wrap: nowrap;
    }
    .steps h2 {
        margin-bottom: 6rem;
    }
}

.steps__list {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: center;
}

@media screen and (min-width: 1025px) {
    .steps__list {
        flex-flow: row nowrap;
    }
}

.steps__list__button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 75px;
    font-size: 16px;
    border-radius: 2.5rem;
    background: #F6F6F6;
    box-shadow: 2px 3px 10px 1px rgba(230, 227, 227, 0.81);
    position: relative;
}

.steps__list__button p {
    padding-left: 2rem;
}

.steps__list__button i {
    padding-left: 3.5rem;
}

@media screen and (min-width: 426px) {
    .steps__list__button {
        width: 60%;
        justify-content: flex-start;
    }
    .steps__list__button p {
        padding-left: 4rem;
    }
}

@media screen and (min-width: 769px) {
    .steps__list__button i {
        padding-left: 6rem;
        padding-right: 4rem;
    }
    .steps__list__button p {
        padding-right: 6rem;
    }
}

@media screen and (min-width: 1025px) {
    .steps__list__button {
        width: 25%;
    }
}

@media only screen and (min-width: 1440px) {
    .steps__list__button {
        width: 29%;
    }
}

.steps__list__button:nth-child(3) {
    background: #F5EDFF;
}

.steps__list__button .icon-number {
    position: absolute;
    left: -1rem;
    color: #fff;
    background: #9356DC;
    font-size: 1.4rem;
    border-radius: 50%;
    padding: .4rem .3rem;
    text-align: center;
    min-width: 2.4rem;
}

.steps__list__button .mobile-image {
    font-size: 2.2rem;
    color: #7e7e7e;
}

@media screen and (min-width: 426px) {
    .steps__list__button .mobile-image {
        padding-left: 4rem;
    }
}

@media screen and (min-width: 769px) {
    .steps__list__button .mobile-image {
        padding-left: 6rem;
        padding-right: 1rem;
    }
}

.steps__list__button .list-image {
    font-size: 1.8rem;
    color: #7e7e7e;
}

@media screen and (min-width: 426px) {
    .steps__list__button .list-image {
        padding-left: 4rem;
    }
}

@media screen and (min-width: 769px) {
    .steps__list__button .list-image {
        padding-left: 6rem;
        padding-right: 1rem;
    }
}

.steps__list__button .store-image {
    font-size: 1.7rem;
    color: #9356DC;
}

@media screen and (min-width: 426px) {
    .steps__list__button .store-image {
        padding-left: 4rem;
    }
}

@media screen and (min-width: 769px) {
    .steps__list__button .store-image {
        padding-left: 6rem;
        padding-right: 1rem;
    }
}

.steps__list__button p {
    font-weight: bold;
}

.restaurants {
    background: #F6F6F6;
    padding: 40px 20px;
}

@media screen and (min-width: 426px) {
    .restaurants {
        margin-top: 2rem;
    }
}

.restaurants h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

@media screen and (min-width: 426px) {
    .restaurants h2 {
        text-align: center;
        margin-bottom: 6rem;
    }
}

@media screen and (min-width: 426px) {
    .restaurants__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        column-gap: 2rem;
        justify-items: center;
    }
}

@media screen and (min-width: 1025px) {
    .restaurants__cards {
        column-gap: 1rem;
    }
}

.restaurant__card {
    width: 100%;
}

.restaurant__card__body h3 {
    font-weight: bold;
}

@media screen and (min-width: 1025px) {
    .restaurant__card {
        max-width: 60rem;
    }
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 6.3rem;
    margin: 0 auto;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2.8rem;
    font-size: 1.6rem;
    width: 100%;
    height: 20rem;
    color: #fff;
    background: #353535;
    padding-left: 30px;
}

@media screen and (min-width: 426px) {
    .footer-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "title title" "suggestion legacy" "become contact";
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .footer-container__title {
        grid-area: title;
    }
    .footer-container__suggestion {
        grid-area: suggestion;
    }
    .footer-container__legacy {
        grid-area: legacy;
    }
    .footer-container__become {
        grid-area: become;
    }
    .footer-container__contact {
        grid-area: contact;
    }
}

.footer-container a {
    transition: .3s;
}

.footer-container a:hover {
    font-size: 1.65rem;
}

@media screen and (min-width: 1025px) {
    .footer-container {
        width: 1024px;
        margin: auto;
        justify-items: center;
    }
}

.footer-container__title {
    font-family: 'Shrikhand', sans-serif;
    padding-bottom: 1.4rem;
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.utensils::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.4rem;
    padding-right: 1.3rem;
    content: "\f2e7";
}

.hands-helping::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.2rem;
    padding-right: 1rem;
    content: "\f4c4";
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 6.3rem;
}

.header__icon {
    position: absolute;
    left: 3rem;
    font-size: 2rem;
    transition: .2s;
}

.header__icon:hover {
    transform: scale(1.1);
}

.header__logo img {
    height: 3rem;
}

.main-container {
    background-color: #F6F6F6;
}

.main-container__header img {
    margin-bottom: 3rem;
}

@media screen and (min-width: 1069px) {
    .main-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "header header header" "menu-entre menu-dishes menu-dessert" ". button .";
    }
    .main-container .main__header {
        grid-area: header;
    }
    .main-container .menu:nth-child(2) {
        grid-area: menu-entre;
    }
    .main-container .menu:nth-child(3) {
        grid-area: menu-dishes;
    }
    .main-container .menu:nth-child(4) {
        grid-area: menu-dessert;
    }
    .main-container .order-button {
        grid-area: button;
    }
}

.main__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #F6F6F6;
    overflow: auto;
}

.main__header img {
    height: 28rem;
    width: 100%;
    object-fit: cover;
}

.main__header .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 2px -1px 10px 0px #555454;
    top: 0;
    left: 0;
}

.main__header .main__title {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    font-family: 'Shrikhand', sans-serif;
    font-size: 1.4rem;
    padding: 2.5rem 0 1.6rem 2.2rem;
    border-radius: 2.5rem 2.5rem 0 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #F6F6F6;
}

.main__header .main__title .heart-icon {
    margin-right: 1.5rem;
}

@media screen and (min-width: 426px) {
    .main__header p {
        height: 32rem;
    }
    .main__header img {
        height: 29rem;
        margin-bottom: 4rem;
    }
    .main__header .main__title {
        justify-content: space-between;
    }
    .main__header .main__title .heart-icon {
        margin-left: 4rem;
    }
}

.menu {
    padding: 1.6rem;
    background-color: #F6F6F6;
}

.menu h2 {
    font-weight: 400;
    font-size: 1.6rem;
    color: #353535;
    margin-bottom: .5rem;
    padding-left: .6rem;
}

.menu .underline {
    width: 4rem;
    height: .3rem;
    margin-left: .7rem;
    background-color: #99E2D0;
}

@media screen and (min-width: 769px) {
    .menu {
        padding: 6rem 1.6rem;
    }
}

.card-menu {
    opacity: 0;
    transform: translateY(3rem);
    margin: 1.6rem 0;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1.5rem;
    box-shadow: 2px 2px 6px #a1a1a1;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.card-menu:nth-child(3) {
    animation: appear 0.8s 0.2s ease-out forwards;
}

.card-menu:nth-child(4) {
    animation: appear 0.8s 0.4s ease-out forwards;
}

.card-menu:nth-child(5) {
    animation: appear 0.8s 0.6s ease-out forwards;
}

.card-menu:nth-child(6) {
    animation: appear 0.8s 0.8s ease-out forwards;
}

@keyframes appear {
    100% {
        opacity: 1;
        transform: none;
    }
}

.card-menu__title {
    width: 100%;
    margin-bottom: .8rem;
}

.card-menu__title h3 {
    font-weight: bold;
}

.card-menu__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-menu p {
    font-size: 1.4rem;
    color: #353535;
}

.card-menu__price {
    width: auto;
    font-weight: bold;
    font-size: 1.4rem;
    color: #353535;
    padding: 0 1.5rem;
    transition: 0.5s ease-in-out;
}

.card-menu h3,
.card-menu p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    transition: 0.5s ease-in-out;
}

.card-menu__select {
    width: 0px;
    height: 7rem;
    background: #99E2D0;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.7s ease;
}

.card-menu:hover {
    box-shadow: 2px 2px 12px #a1a1a1;
}

.card-menu:hover .card-menu__select {
    width: 5.5rem;
}

.card-menu:hover p,
.card-menu:hover h3 {
    width: calc(100% - 11rem);
}

.card-menu:hover .card-menu__price {
    transform: translate(-5.5rem);
}

.card-menu__select .fa-check-circle {
    font-size: 2rem;
    color: #fff;
}

.order-button {
    height: 12rem;
    margin-bottom: 2rem;
    position: relative;
    background: #F6F6F6;
}

.order-button .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18rem;
}