<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/3689467a52.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Le délice des sens</title>
</head>

<body>
    <div class="container">
        <!--Header-->
        <header class="header">
            <a class="header__icon" href="../index.html">
                <i class="fas fa-arrow-left"></i>
            </a>
            <div class="header__logo">
                <img src="../logo/ohmyfood.png" alt="logo">
            </div>
        </header>

        <main class="main-container">

            <div class="main__header">
                <img src="/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg" alt="Présentation d'un plat">
                <div class="shadow"></div>
                <div class="main__title">
                    <h1>Le délice des sens</h1>
                    <div class="heart-icon">
                        <span class="icon heart"></span>
                    </div>
                </div>
            </div>

            <!--Entrees-->
            <section class="menu">
                <h2>ENTR&Eacute;ES</h2>
                <div class="underline"></div>
                <div class="card-menu">
                    <div class="card-menu__title">
                        <h3>Tartare de thon</h3>
                    </div>
                    <div class="card-menu__content">
                        <p>Assaisonné au yuzu</p>
                        <div class="card-menu__price">25€
                        </div>
                        <div class="card-menu__select">
                            <i class="far fa-check-circle"></i>
                        </div>
                    </div>
                </div>
                <div class="card-menu">
                    <div class="card-menu__title">
                        <h3>Bouchée de homard croustillant</h3>
                    </div>
                    <div class="card-menu__content">
                        <p>Et sa farandole de petits légumes</p>
                        <div class="card-menu__price">35€
                        </div>
                        <div class="card-menu__select">
                            <i class="far fa-check-circle"></i>
                        </div>
                    </div>
                </div>
                <div class="card-menu">
                    <div class="card-menu__title">
                        <h3>Velouté de cèpes</h3>
                    </div>
                    <div class="card-menu__content">
                        <p>Aux truffes</p>
                        <div class="card-menu__price">20€
                        </div>
                        <div class="card-menu__select">
                            <i class="far fa-check-circle"></i>
                        </div>
                    </div>
                </div>
            </section>

            <!--Dishes-->
            <section class="menu">
                <h2>PLATS</h2>
                <div class="underline"></div>
                <div class="card-menu">
                    <div class="card-menu__title">
                        <h3>Poulet rôti aux herbes de Provence</h3>
                    </div>
                    <div class="card-menu__content">
                        <p>Et sa crème de truffe</p>
                        <div class="card-menu__price">40€
                        </div>
                        <div class="card-menu__select">
                            <i class="far fa-check-circle"></i>
                        </div>
                    </div>
                </div>
                <div class="card-menu">
                    <div class="card-menu__title">
                        <h3>Langouste rôtie</h3>
                    </div>
                    <div class="card-menu__content">
                        <p>Et ses légumes de saison</p>
                        <div class="card-menu__price">35€
                        </div>
                        <div class="card-menu__select">
                            <i class="far fa-check-circle"></i>
                        </div>
                    </div>
                </div>
                <div class="card-menu">
                    <div class="card-menu__title">
                        <h3>Côte de boeuf Angus</h3>
                    </div>
                    <div class="card-menu__content">
                        <p>Et sa purée de panais</p>
                        <div class="card-menu__price">44€
                        </div>
                        <div class="card-menu__select">
                            <i class="far fa-check-circle"></i>
                        </div>
                    </div>
                </div>
            </section>

            <!--les Desserts-->
            <section class="menu">
                <h2>DESSERTS</h2>
                <div class="underline"></div>
                <div class="card-menu">
                    <div class="card-menu__title">
                        <h3>Farandole de desserts</h3>
                    </div>
                    <div class="card-menu__content">
                        <p>Du chef</p>
                        <div class="card-menu__price">18€
                        </div>
                        <div class="card-menu__select">
                            <i class="far fa-check-circle"></i>
                        </div>
                    </div>
                </div>
                <div class="card-menu">
                    <div class="card-menu__title">
                        <h3>Crème brulée</h3>
                    </div>
                    <div class="card-menu__content">
                        <p>Revisitée</p>
                        <div class="card-menu__price">22€
                        </div>
                        <div class="card-menu__select">
                            <i class="far fa-check-circle"></i>
                        </div>
                    </div>
                </div>
                <div class="card-menu">
                    <div class="card-menu__title">
                        <h3>Tiramisu</h3>
                    </div>
                    <div class="card-menu__content">
                        <p>À la noisette</p>
                        <div class="card-menu__price">23€
                        </div>
                        <div class="card-menu__select">
                            <i class="far fa-check-circle"></i>
                        </div>
                    </div>
                </div>
            </section>
            <div class="order-button">
                <button class="btn" type="button">Commander</button>
            </div>
        </main>

        <!--contenu du bas-->
        <footer class="footer">
            <div class="footer-container">
                <h3 class="footer-container__title">ohmyfood</h3>
                <div class="footer-container__suggestion">
                    <a href="#">
                        <p><span class="icon utensils"></span>Proposer un restaurant</p>
                    </a>
                </div>
                <div class="footer-container__become">
                    <a href="#">
                        <p><span class="icon hands-helping"></span>Devenir partenaire</p>
                    </a>
                </div>
                <div class="footer-container__legacy">
                    <a href="#">
                        <p>Mentions légales</p>
                    </a>
                </div>
                <div class="footer-container__contact">
                    <a href="mailto:contact@ohmyfood.com">
                        <p>Contact</p>
                    </a>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>